.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Styles for individual icons within the grid */
.icon-option {
  width: calc(100% / 4 - 5px); /* 6 icons per row for mobile */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background: #eee;
  color: black;
  border: 1px solid #bbb;
  margin: 0;
  transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.icon-option:hover {
  background: #fff;
}

/* Media query for tablets (12 icons per row) */
@media (min-width: 768px) {
  .icon-option {
    width: calc(100% / 6 - 2px); /* 12 icons per row on tablets */
  }
}

/* Media query for larger screens (16 icons per row) */
@media (min-width: 1024px) {
  .icon-option {
    width: calc(100% / 8 - 2px); /* 16 icons per row for larger screens */
  }
}
