.icon-grid {
  @apply grid grid-cols-3 gap-5 text-center mx-auto p-5 rounded-md max-w-screen-sm;
}

.icon {
  @apply flex flex-col items-center justify-center w-full min-h-[5rem] h-[calc(35vw-7.5rem)] border border-solid border-white rounded-lg p-2 cursor-pointer bg-gradient-to-b from-black/30 to-black/5 shadow-inner text-white bg-slate-800 text-center md:h-auto;
}

.active .icon {
  @apply bg-primary-500 border-b-primary-700;
}

.icon img {
  @apply w-10 h-10 xs:w-14 xs:h-14 sm:w-20 sm:h-20 invert;
}

.icon span {
  @apply m-0 text-xs sm:text-sm md:text-base;
}

.icon:hover {
  @apply bg-opacity-80;
}

.icon.icon-grid--action:hover,
.icon.active:hover {
  @apply bg-blue-300;
}

.icon.icon--sm {
  @apply py-0;

  img {
    @apply w-8;
  }
}

.icon-dropdown img {
  @apply w-10 h-10 cursor-pointer;
}

.hidden-selected .selected-icon {
  @apply opacity-0;
}

.selected-icon img {
  @apply w-20 h-20;
}

/* Styles for individual icons within the grid */

.icon-option {
  @apply relative p-2 text-center;
  background: #eee;
  color: black;
  border: 1px solid #bbb;
  margin: 0;
  transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.icon-option img {
  @apply w-10 h-10;
}

.icon-option:hover {
  background: #fff;
}

.remove-icon {
  @apply bg-red-300 rounded-full p-0 w-5 h-5 absolute right-0 bottom-0 opacity-10;

  img {
    @apply w-5 h-5;
  }

  &:hover {
    @apply bg-red-400 opacity-100;
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
