.icon-grid {
  @apply grid grid-cols-3 gap-5 text-center max-w-screen-sm mx-auto p-5 rounded-md;
}

.icon {
  @apply flex flex-col items-center justify-center border border-gray-300 rounded-lg p-2 cursor-pointer bg-gradient-to-b from-black/30 to-black/5 shadow-inner text-white bg-slate-800 text-center;
}

.active .icon {
  @apply bg-primary-500 border-b-primary-700;
}

.icon img {
  @apply w-20 h-20 invert;
}

.icon p {
  @apply m-0 text-xs sm:text-sm md:text-base;
}

.icon:hover {
  @apply bg-opacity-80;
}

.icon.icon-grid--action:hover,
.icon.active:hover {
  @apply bg-blue-300;
}

.icon-img {
  @apply w-8;

  &.lg {
    @apply w-16;
  }
}

.icon.sm {
  @apply flex-row gap-2 justify-center items-center px-4;

  img {
    @apply w-4 h-4;
  }
}

.remove-icon {
  @apply bg-red-300 rounded-full p-0 w-5 h-5 absolute right-0 bottom-0 opacity-10;

  &:hover {
    @apply bg-red-400 opacity-100;
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Styles for individual icons within the grid */

.icon-option {
  @apply relative;
  width: 63px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background: #eee;
  color: black;
  border: 1px solid #bbb;
  margin: 0;
  transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.icon-option:hover {
  background: #fff;
}
