:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  max-width: 581px;
  margin: 0 auto;
}

.icon {
  border: 1px solid #555;
  padding: 10px;
  border-radius: 24px;
  cursor: pointer;
  background: #666;
  color: white;
}

.grid--action .icon {
  background: #48a;
}

.icon img {
  width: 75px;
  height: 75px;
}

.icon p {
  margin: 10px 0;
}

.icon:hover {
  background-color: #777;
}

.grid--action .icon:hover {
  background: #59b;
}
